.MuiToolbar-root {
  display: flex;
  justify-content: space-evenly;
}

.MuiButton-textPrimary {
  color: 'white';
}

.title {
  display: flex;
  justify-content: center;
}

#journal-about {
  display: flex;
  justify-content: center;
}

#journal-text {
  width: 75%
}