.MuiToolbar-root {
  display: flex;
  justify-content: space-evenly;
}


.title {
  margin-top: 2rem;
}

#journal-about {
  margin-top: 1rem;
}

#journal-text {
  width: 125vh
}

#post-box {
  /* background-color: #ba68c8; */
  height: 15rem;
  margin-top: 5rem;
  width: 35rem;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  
}

#post-form{
  
  
  
}