.MuiToolbar-root {
  display: flex;
  justify-content: space-evenly;
}


.title {
  margin-top: 2rem;
}

#journal-about {
  margin-top: 1rem;
}

#journal-text {
  width: 125vh
}

#accordion {
  margin-top: 3rem;
  max-width: 45rem;
}

#post-accordion-summary {
  display: flex;
  flex-wrap: wrap;
}

#post-heading{
  margin-left: 20px;
  margin-right: 20px;
}

#post-form{
  
  display: flex;
  flex-wrap: wrap;
  
}

.input {
  margin-right: 5rem;
}

#post-text {
  margin-top: 1rem;
}

#legend{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.dream{
  width: 45rem;
  margin-top: 1rem;
}


